body{
  font: normal 16px Arial, Helvetica, sans-serif;
  background-image: url("../images/STADIUM.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#slides_control > div{
  height: 200px;
}
#teamId{
  margin:auto;
  width: 1000px;
}
#slides_control {
  position:absolute;
  width: 400px;
  left:50%;
  top:100px;
  margin-left:-200px;
}
#teamName {
  color: #1a001a;
}
#ipl_logo{
  width :40px;
  height:35px;
  padding-right: 0px;
  padding-top: 0px;
}
#playerImg{
  /*border-style: solid;
  border-width: 3px;
  border-color: #000000;*/
  width: 195px;
  height: 245px;
}
#playerBtn{
  display:block;
  margin-left: 100px;
  margin-top: 30px;
  margin-bottom: 10px
}
.modal-body{
  background-image: url("../images/team_Background/MI.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.dropdown-menu{
  height: 120px;
  width: 400px;
}
#filter{
  width: 200px;
  /*margin-top: 20px;*/
}
#filterHeading{
  color: #ffffff;
}
#username {
  color: #ffffff;
}
#pass{
  color: #ffffff;
}
#form{
  color: #ffffff;

}
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 200px;
	height: 270px;
}

/* flip speed goes here */
.flipper {
	transition: 1s;
	transform-style: preserve-3d;

	position: relative;
}
/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
  width: 200px;
  height: 250px;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
  padding-left: 10px;
  padding-top: 15px;
  padding-right: 10px;
  border-style: solid;
  border-width: 3px;
  border-color: #000000;

}
