<div class = "container-fluid" ng-controller = "playerController">
  <!-- <b id = "filterHeading">Filter By Role:</b>
  <select  id = "filter"  ng-model = "globalSearch.player_role">
    <option value="All-rounder">All Rounder</option>
    <option value="Batsman">Batsman</option>
    <option value="Bowler">Bowler</option>
    <option value="">All Players</option>
  </select> -->
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12"  ng-repeat = "player in players | filter : globalSearch ">
      <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
        <div class="flipper">
          <div class="front">
            <img id = "playerImg"src="{{player.player_img_url}}" alt="Player" style="background-image : url('{{backgroundImage}}')"><br>
          </div>
          <div class="back" style="background-image : url('{{backgroundImage}}')">
            <span><b>Player Name: </b></span>{{player.player_name}}<br>
            <span><b>Player Role: </b></span>{{player.player_role}}<br>
            <span><b>Player Batting Style: </b></span>{{player.player_batting_style}}</br>
            <span><b>Player Bowling Style: </b></span>{{player.player_bowling_style}}<br>
            <span><b>Player Nationality: </b></span>{{player.player_nationality}}<br>
            <span><b>Player Dob: </b></span>{{player.player_dob}}<br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
